---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
    <p>在读大四物联网学生，也许你看到的时候我已经毕业了。<br>爱好数码，听音乐，睡觉，自由以及折腾新鲜事物。</p>
    

    <p>人生朝露，艺术千秋。</p>

    <p>本网站非本人搭建，详情查看 github 仓库。</p>

    <p>https://github.com/SUNSIR007/astro_blog</p>
</LayoutDefault>
